* {
  margin: 0;
  padding: 0;
}

.nav {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 20px 50px;
  height: 100%;
  background: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav-logo {
  font-size: 2.5rem;
  background: #b80c0c;
  border-radius: 50%;
  padding: 8px;
}

.nav-logo::first-letter {
  font-size: 5rem;
}

.nav-links a {
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}

.nav-links a:hover {
  font-size: 30px;
}

.login:hover {
  background: rgb(156, 3, 3);
}

.login {
  background: red;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
}
