* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.headers {
  margin: 50px;
}
.paragraphs {
  margin: 50px;
}
.forms {
  margin: 50px;
}

.lists {
  margin: 50px;
}
.tables {
  margin: 50px;
}

.class {
  color: red;
  margin: 10px 0;
  text-decoration: underline;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* .table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
} */
